<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cache_warmer>
            <general>
                <enable>1</enable>
            </general>
            <cron>
                <schedule>* * * * *</schedule>
                <clean_urls_schedule>* * * * *</clean_urls_schedule>
            </cron>
        </cache_warmer>
    </default>
</config>
